.navbar-main {
  display: flex;
  align-items: center;
  margin-block-start: 20px;
  justify-content: space-around;
  .primary-menu {
    display: flex;
    gap: 24px;
    font-size: 16px;
    .shop-dropmenu {
      display: flex;
      gap: 10px;
    }
  }
  .input-menu {
    background-color: #f0f0f0;
    width: 570px;
    border-radius: 30px;
    .input-wrapper {
      display: flex;
      align-items: center;
      img {
        width: 20px;
        margin-inline-start: 10px;
        height: 20px;
      }
      input {
        width: 90%;
        margin-inline-start: 10px;
        background-color: #f0f0f0;

        outline: none;
        border: none;
        height: 48px;
      }
    }
  }
  .usercart-icon {
    display: flex;
    gap: 14px;
  }
}
